.env
node_modules
# ignore all assets except card data
assets/*
assets/*/
!assets/cardData.js
!assets/cardLookup.js
!assets/fateData.js
!assets/fateLookup.js
!assets/sigilData.js
!assets/sigilLookup.js